.layout {
  background: linear-gradient(120deg, #5eead4 0%, #818cf8 100%);

}
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout main {
  flex: 1;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #000;
}
